.hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    margin: 28.87px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    display: inline-block;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 13.6447px;
}

.hexagon:before {
    top: -35.3553px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333;
}

.hexagon:after {
    bottom: -35.3553px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333;
}

.light-coral {
    background-color: #FF686B;
}

.languid-lavender {
    background-color: #DAD4EF;
}

.aquamarine {
    background-color: #A5FFD6;
}

.y-in-min-blue {
    background-color: #3E517A;
}

.imperial-red {
    background-color: #EF233C;
}

.container {
    width: 75%;
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #3E517A;
    font-weight: bolder;
    margin: 0 auto;
}

.header {
    border: 20px solid #3E517A;
    width: 50%;
    margin: 20px auto;
    /*border-radius: 25px;*/
}

.text1 {
    font-family: 'Fasthand', serif;
}

.text2 {
    font-family: 'Libre Barcode 128 Text', cursive;
}

.text3 {
    font-family: 'Pinyon Script', cursive;
}

.text4 {
    font-family: 'Reenie Beanie', cursive;

}

.text5 {
    font-family: 'Special Elite', cursive;
}
.font {
    font-size: x-large;
}