.body {
    font-family: "Bodoni 72", serif;
    color: white;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    background-color: black;
    height: 69px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;

}
.menu {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
    /*align-items: center;*/
}
.menuText {
    align-self: center;
    justify-self: flex-end;
    text-decoration: underline;
    display: flex;
    margin: 10px;
}
.logo {
    align-self: center;
    display: flex;
    margin-left: 10px;
}
.missionSection {
    margin-top: 5%;
    margin-bottom: 2%;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 25%;
    font-size: 24px;
    font-weight: bold;

}
.productImage {
    width: 500px;
    height: 500px;
    padding: 10px
}
.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.companyEmployees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}
.employee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.employeeImage {
    width: 300px;
    height: 200px;
    padding: 10px
}




